<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body class="ms-5 me-5 my-3">
    <div layout:fragment="contenido">

        <div class="card my-4">
            <div class="card-header">
                <h4 class="card-tittle" th:text="${titulo}"></h4>
            </div>
            <div class="card-body">
                <table id="tabla-pedidos" class="table table-striped table-hover table-bordered table-responsive"
                    style="width: 100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Producto - cantidad</th>
                            <th>Total</th>
                            <th>Fecha</th>
                            <!-- <th style="max-width: 35px;">Opciones</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${pedidos}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.cliente.dni} + ' - ' + ${p.cliente.nombre}"></td>
                            <!-- <td>
                                <ul th:if="${p.productos != null}">
                                    <li th:each="entry : ${#maps.entries(p.productos)}" 
                                        th:text="${entry.key != null ? entry.key.descripcion : 'Producto no disponible'} + ' - ' + ${entry.value}"></li>
                                </ul>
                            </td> -->
                            <td>
                                <ul th:if="${p.productos != null and not #maps.isEmpty(p.productos)}">
                                    <li th:each="entry : ${p.productos}" 
                                        th:text="${entry.key.descripcion + ' - ' + entry.value}"></li>
                                </ul>
                                <span th:if="${#maps.isEmpty(p.productos)}">Sin productos</span>
                            </td>
                            <td th:text="'$ ' + ${p.total}"></td>
                            <td th:text="${#temporals.format(p.fechaPedido, 'dd/MM/yyyy HH:mm')}"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Producto - cantidad</th>
                            <th>Total</th>
                            <th>Fecha</th>
                            <!-- <th style="max-width: 35px;">Opciones</th> -->
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="card-footer">
                <!-- <a th:href="@{/proveedores/nuevo}" class="btn btn-outline-primary float-end">Nuevo Proveedor</a> -->
            </div>
        </div>
    </div>

    <!-- Mis JS -->
    <script th:fragment="js" th:src="@{/js/pedidos-list-admin.js}"></script>
</body>

</html>